# Functions

ğŸš€ Ù…Ø§ Ù‡ÙŠ Ø§Ù„Ù€ FunctionØŸ
---
Function Ù‡ÙŠ **Ø¬Ø²Ø¡ Ù…Ù† Ø§Ù„ÙƒÙˆØ¯** Ø¨Ù†ÙƒØªØ¨Ù‡ Ù…Ø±Ø© ÙˆØ§Ø­Ø¯Ø©ØŒ ÙˆÙ„Ù…Ø§ Ù†Ø­Ø¨ Ù†Ø³ØªØ¹Ù…Ù„Ù‡ ØªØ§Ù†ÙŠ **Ø¨Ù†Ù†Ø¯Ù‡ Ø¹Ù„ÙŠÙ‡** Ø¨Ø¯Ù„ Ù…Ø§ Ù†ÙƒØ±Ø± Ù†ÙØ³ Ø§Ù„ÙƒÙˆØ¯ ÙƒÙ„ Ù…Ø±Ø©.

### ğŸ’¡ Ø§Ù„ÙÙˆØ§Ø¦Ø¯ Ø§Ù„Ø£Ø³Ø§Ø³ÙŠØ©:

* **ğŸ“Œ Ø¨ØªÙˆÙØ± ÙˆÙ‚Øª** (Ù…Ù† Ø®Ù„Ø§Ù„ Ø¥Ø¹Ø§Ø¯Ø© Ø§Ù„Ø§Ø³ØªØ®Ø¯Ø§Ù…).
* **ğŸ“Œ Ø¨ØªØ®Ù„ÙŠ Ø§Ù„ÙƒÙˆØ¯ Ù…Ù†Ø¸Ù…** (ØªÙ‚Ø³ÙŠÙ… Ø§Ù„Ù…Ù‡Ø§Ù… Ø§Ù„ÙƒØ¨ÙŠØ±Ø© Ù„Ù…Ù‡Ø§Ù… Ø£ØµØºØ±).
* **ğŸ“Œ Ø¨ØªÙ…Ù†Ø¹ Ø§Ù„ØªÙƒØ±Ø§Ø±** (DRY - Don't Repeat Yourself).

In [2]:
def say_hello():
    print("Hello!")

say_hello()

Hello!

In [3]:
def greet(name):
    print("Hello", name)

greet("Amira")

Hello Amira

In [4]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

8

In [5]:
def welcome(name="Guest"):
    print("Welcome", name)

welcome()
welcome("Amira")

Welcome Guest
Welcome Amira

In [6]:
def say_hi(name, age):
  print("Hello " + name + " Your age is " + age)

say_hi("ali", "34")

Hello ali Your age is 34

In [7]:
def cube(num):
  num*num*num

cube(3) # will not print anything because you have not tell the program what to do
# to make it prinitn you must add return in the function or print

In [8]:
# after the return in function the fuction fuctionality stop
def test():
    print("Before return")
    return 10
    print("After return")  # Ù…Ø´ Ù‡ÙŠØªÙ†ÙØ°

print(test())

Before return
10

In [9]:
def cube(num):
  return num * num * num
cube(3)

27

In [10]:
print("cube(3) : ", cube(3))
res = cube(3)
print("Result : ", res)

cube(3) :  27
Result :  27

In [11]:
def sum_(num1, num2):
  return num1 + num2
print(sum_(2, 3))

5

In [12]:
def sub(num1, num2):
  return num1 - num2
print(sub(5, 2))

3

In [13]:
# if you want to remember yourself that there was a function without implementing it now
def sub(num):
  pass

In [14]:
def greet(name):
  print(f"Hello, {name}!" )
greet("Alice")

Hello, Alice!

In [15]:
def multiply_numbers(a, b=2):
  return a * b
multiply_numbers(2)

4

In [16]:
def calculate_area(length, width=1):
  return length * width
calculate_area(2, 3)

6

In [17]:
def greet_user(name, age=None):
  if age:
    print(f"Hello, {name} you are {age} years old.")
  else:
    print(f"Hello, {name}")

greet_user("Bob", 30)  # output: Hello, Bob ! you are 30 years old
greet_user("Charlie") # output: Hello, Charlie!

Hello, Bob you are 30 years old.
Hello, Charlie

In [18]:
# args = arguments
def calculate_sum(*args):
  """ Function to calculate the sum of any number of arguments. """
  return sum(args)

calculate_sum(1, 2, 3, 4, 5)

15

In [19]:
# **kwargs = keyword arguments
def print_info(**kwargs):
    print(kwargs)

print_info(name="Amira", age=22, country="Egypt")

{'name': 'Amira', 'age': 22, 'country': 'Egypt'}

In [20]:
def sum_all(*numbers):
    return sum(numbers)

print(sum_all(1, 2, 3, 4))

10

In [21]:
def print_info(**info):
    for key, value in info.items():
        print(key, ":", value)

print_info(name="mariam", age=22, country="Egypt")

name : mariam
age : 22
country : Egypt

In [22]:
def square(x):
  return x * x

square(2)

4

In [23]:
square = lambda x: x * x
print(square(5))

25

In [24]:
square(5)

25

In [25]:
# Nested function
def outer():
    print("This is outer")

    def inner():
        print("This is inner")

    inner()

outer()

This is outer
This is inner

In [26]:
#  Ø§Ù„ÙØ§ÙƒØ´Ù† Ù…Ù…ÙƒÙ† ØªØªØ¨Ø¹Øª ÙƒØ§Ù†Ù‡Ø§ Ø¨Ø§Ø±Ø§Ù…ØªØ± Ø¯Ø§Ø®Ù„ ÙØ§ÙƒØ´Ù† ØªØ§Ù†ÙŠÙ‡ , Ø§Ù„ÙØ§ÙƒØ´Ù† Ù†ÙØ³Ù‡Ø§ Ø¨ØªØ¨Ù‚ÙŠ Ù‚ÙŠÙ…Ù‡
def apply(func, value):
    return func(value)  # double(10)

def double(x):
    return x * 2

apply(double, 10)

20

In [27]:
# Recursion
def factorial(n):  # 3 * 2 *1                # 2 * 1

  """ Function to calculate the factorial of a number """

  if n == 1:
        return 1
  return n * factorial(n - 1)

print(factorial(3))

6

## ğŸŒ€ What Is the Fibonacci Sequence?

Itâ€™s a sequence of numbers where:

- **The first two numbers are:**  
  `0, 1`

- **Every number afterward = sum of the previous two.**

ğŸ‘‰ So the sequence looks like:  
`0, 1, 1, 2, 3, 5, 8, 13, 21â€¦`

âœ¨ **Ù…Ù„Ø®Øµ Ø¨ØµØ±ÙŠ Ù„ØªØ­Ø¯ÙŠØ« a Ùˆ b:**

| a  | b   | fib_sequence           |
|----|-----|-----------------------|
| 0  | 1   | []                    |
| 0  | 1   | [0]                   |
| 1  | 1   | [0, 1]                |
| 1  | 2   | [0, 1, 1]             |
| 2  | 3   | [0, 1, 1, 2]          |
| 3  | 5   | [0, 1, 1, 2, 3]       |
| 5  | 8   | [0, 1, 1, 2, 3, 5]    |
| 8  | 13  | [0, 1, 1, 2, 3, 5, 8] |

# What Is a Prime Number?

A **prime number** is a number greater than 1 that has **only two divisors**:

1. 1  
2. Itself

This means it **cannot be divided exactly by any other number**.

---

## ğŸ”¹ Examples of Prime Numbers
2, 3, 5, 7, 11, 13, 17, 19, 23, 29 ...



- **2** â†’ divisible by 1 and 2 âœ… (prime)  
- **3** â†’ divisible by 1 and 3 âœ… (prime)  
- **4** â†’ divisible by 1, 2, 4 âŒ (not prime)

In [28]:
def is_prime(num):
  """ Function to check if a number is prime."""
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num% i == 0:
      return False
  return True
is_prime(2)

True

# Ø§Ù„Ø±Ù‚Ù…: 36

## 1ï¸âƒ£ Ø¬Ø°Ø±Ù‡ Ø§Ù„ØªØ±Ø¨ÙŠØ¹ÙŠ

\[
\sqrt{36} = 6
\]

ÙŠØ¹Ù†ÙŠ Ø§Ù„Ø¬Ø°Ø± Ø§Ù„ØªØ±Ø¨ÙŠØ¹ÙŠ Ù‡Ùˆ 6.

---

## 2ï¸âƒ£ Ø§Ù„Ù‚ÙˆØ§Ø³Ù… Ø§Ù„Ù…Ù…ÙƒÙ†Ø© Ù„Ù„Ù€ 36

Ø£ÙŠ Ø±Ù‚Ù… `d` ÙŠÙ‚Ø³Ù… 36 Ø¨Ø¯ÙˆÙ† Ø¨Ø§Ù‚ÙŠ Ù‡Ùˆ **Ù‚Ø§Ø³Ù…**.  
Ø§Ù„Ù‚ÙˆØ§Ø³Ù… Ù…Ù…ÙƒÙ† Ù†ÙƒØªØ¨Ù‡Ø§ ÙÙŠ Ø´ÙƒÙ„ **Ø²ÙˆØ¬ÙŠÙ†**: `(d, 36/d)`

**Ø§Ù„Ù‚ÙˆØ§Ø³Ù… Ø¨Ø§Ù„ØªØ±ØªÙŠØ¨:**

| d  | 36 Ã· d | Ù…Ù„Ø§Ø­Ø¸Ø©                  |
|----|---------|-------------------------|
| 1  | 36      | 1 Ã— 36                  |
| 2  | 18      | 2 Ã— 18                  |
| 3  | 12      | 3 Ã— 12                  |
| 4  | 9       | 4 Ã— 9                   |
| 6  | 6       | 6 Ã— 6                   |
| 9  | 4       | Ù†ÙØ³ 4 Ã— 9 (Ù…ÙƒØ±Ø±)       |
| 12 | 3       | Ù†ÙØ³ 3 Ã— 12 (Ù…ÙƒØ±Ø±)      |
| 18 | 2       | Ù†ÙØ³ 2 Ã— 18 (Ù…ÙƒØ±Ø±)      |
| 36 | 1       | Ù†ÙØ³ 1 Ã— 36 (Ù…ÙƒØ±Ø±)      |

---

## 3ï¸âƒ£ Ù„ÙŠÙ‡ Ù†Ø­ØªØ§Ø¬ Ù†Ø´ÙˆÙ Ù„Ø­Ø¯ Ø§Ù„Ø¬Ø°Ø± Ø§Ù„ØªØ±Ø¨ÙŠØ¹ÙŠ Ø¨Ø³ØŸ

- Ù„Ùˆ Ø¬Ø±Ø¨Ù†Ø§ `d` Ø£ÙƒØ¨Ø± Ù…Ù† 6ØŒ ÙƒÙ„ Ø§Ù„Ø£Ø±Ù‚Ø§Ù… Ø§Ù„Ù…ØªØ¨Ù‚ÙŠØ© **Ù…ÙƒØ±Ø±Ø© Ù…Ø¹ Ø§Ù„Ø±Ù‚Ù… Ø§Ù„Ø£ØµØºØ± Ù…Ù† Ø§Ù„Ø¬Ø°Ø±**.  

**Ù…Ø«Ø§Ù„:**

| d > 6 | 36 Ã· d |
|-------|---------|
| 9     | 4       |
| 12    | 3       |
| 18    | 2       |
| 36    | 1       |

ÙŠØ¹Ù†ÙŠ **Ù…Ø§ ÙÙŠ Ø¯Ø§Ø¹ÙŠ Ù†Ø¬Ø±Ø¨ Ø£Ø±Ù‚Ø§Ù… Ø£ÙƒØ¨Ø± Ù…Ù† Ø§Ù„Ø¬Ø°Ø± Ø§Ù„ØªØ±Ø¨ÙŠØ¹ÙŠ** Ù„Ø£Ù†Ù‡Ø§ ÙƒÙ„Ù‡Ø§ Ø§ØªØºØ·Øª Ù‚Ø¨Ù„ ÙƒØ¯Ù‡.

---

## 4ï¸âƒ£ Ø§Ù„Ù†ØªÙŠØ¬Ø©

Ù„Ù„ØªØ­Ù‚Ù‚ Ø¥Ø°Ø§ Ø§Ù„Ø±Ù‚Ù… **prime** Ø£Ùˆ Ù„Ø§:

- Ù†Ø¬Ø±Ø¨ Ø§Ù„Ù‚ÙˆØ§Ø³Ù… Ù…Ù† `2 â†’ âˆšn`  
- Ù„Ùˆ Ù„Ù‚ÙŠÙ†Ø§ Ø£ÙŠ Ø±Ù‚Ù… ÙŠÙ‚Ø³Ù… `n` Ø¨Ø¯ÙˆÙ† Ø¨Ø§Ù‚ÙŠ â†’ Ø§Ù„Ø±Ù‚Ù… **Ù…Ø´ prime**  
- Ù„Ùˆ Ù…ÙÙŠØ´ â†’ Ø§Ù„Ø±Ù‚Ù… **prime**

In [29]:
def reverse_string(s):
  """ Function to reverse a string."""
  return s[::-1]

reverse_string("python")

'nohtyp'

In [30]:

# count â†’ Ø¹Ø¯Ù‘
# vowels â†’ Ø§Ù„Ø­Ø±ÙˆÙ Ø§Ù„Ù…ØªØ­Ø±ÙƒØ© (a, e, i, o, u)

def count_vowels(s): # Hello World
  """ Function to count the number of vowels in a string"""
  vowels = "aeiou AEIOU"
  count = 0

  for char in s:
    if char in vowels:
      count += 1
  return count

count_vowels("Hello World")

4

In [31]:
def find_max(numbers):
  """ Function to find the maximum number in a list. """
  if not numbers:  # check if empty
    return None

  max_num = numbers[0]
  for num in numbers:
    if num > max_num:
      max_num = num
  return max_num

find_max([1, 2, 3, 4, 5])

5

In [32]:
def find_min(numbers):
  """ Function to find the minimum number in a list. """
  if not numbers:
    return None
  min_num = numbers[0]
  for num in numbers:
    if num < min_num:
      min_num = num
  return min_num

find_min([1, 2, 3, 4, 5])

1

In [33]:
def is_even(n):
    if n % 2 == 0:
        return True
    else:
        return False

print(is_even(3))  # Ø§Ù„Ù†ØªÙŠØ¬Ø©: False

False

In [34]:
# ascending order = arranging numbers from smallest to largest
def sort_numbers(numbers):
  """ Function to sort a list of numbers in ascending order. """
  return sorted(numbers)
sort_numbers([5, 2, 9, 1, 5, 6])

[1, 2, 5, 5, 6, 9]

In [35]:
# arranging numbers from largest to smalles
def sort_numbers_descending(numbers):
  """ Function to sort a list of numbers in a descnding order. """
  return sorted(numbers, reverse=True)

sort_numbers_descending([5, 2, 3, 9, 1, 3, 6])

[9, 6, 5, 3, 3, 2, 1]

In [36]:
def square_numbers(numbers):
  """ Function to square each number in a list. """
  return [num ** 2 for num in numbers]

square_numbers([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [37]:
def filter_even_numbers(numbers):
  """ Function to filter even numbers from a list. """
  return [num for num in numbers if num % 2 == 0]

filter_even_numbers([1, 2, 3, 4, 5, 6])

[2, 4, 6]

In [38]:
def filter_odd_numbers(numbers):
  """ FUnction to filter odd number form a list. """
  return [num for num in numbers if num % 2 != 0]

filter_odd_numbers([1, 2, 3, 4, 5])

[1, 3, 5]

In [39]:
def calculate_average(numbers):
  """ Function to calculate the average of a list of number. """
  if not numbers:
    return 0
  return sum(numbers) / len(numbers)
calculate_average([1, 2, 3, 4, 5])

3.0

In [40]:
def calcaulte_median(numbers):
  """ Function to calculate the median of a list of numbers. """
  if not numbers:
    return 0
  sorted_numbers = sorted(numbers)
  n = len(sorted_numbers)  # 5
  mid  = n // 2   # 5 // 2 = 2
  if n % 2 == 0:  #   1 2 3 4 5 6  > 6 // 2 = 3
    return (sorted_numbers[mid - 1] + sorted_numbers[mid])  / 2
  else:
    return sorted_numbers[mid]

calcaulte_median([1, 2, 3, 4, 5]) # 1 2 3 4 5 6

3

In [41]:
def calculate_median2(numbers):
  list1 = []
  if not numbers:
    return None
  sorted_numbers = sorted(numbers)
  n = len(sorted_numbers)
  if n % 2 == 0:
    first_m_index, second_m_index = ( n // 2 ) - 1, (n //2)
    median = (sorted_numbers[first_m_index] +  sorted_numbers[second_m_index]) / 2
    return  median
  else:
    median_index = (n // 2)
    print(sorted_numbers)
    return  sorted_numbers[median_index]


calculate_median2([66, 33, 55, 99, 23, 1, 4, 8])

28.0

## ğŸ‘©â€ğŸ« Ø§Ù„ÙÙƒØ±Ø© Ø§Ù„Ø£ÙˆÙ„ (Ù‚Ø¨Ù„ Ø§Ù„ÙƒÙˆØ¯)

Ø¥Ø­Ù†Ø§ Ø¹Ø§ÙŠØ²ÙŠÙ† Ù†Ø¹Ø±Ù:

**Ø£Ù†Ù‡ÙŠ Ø±Ù‚Ù… Ø§ØªÙƒØ±Ø± Ø£ÙƒØªØ±ØŸ**

ÙÙŠ Ø§Ù„Ù„ÙŠØ³Øª Ø¯ÙŠ:
[1, 2, 2, 3, 3, 4]


### Ø¹Ø¯Ø¯ Ù…Ø±Ø§Øª Ø§Ù„ØªÙƒØ±Ø§Ø±:
- **1** â†’ Ù…Ø±Ø© ÙˆØ§Ø­Ø¯Ø©  
- **2** â†’ Ù…Ø±ØªÙŠÙ†  
- **3** â†’ Ù…Ø±ØªÙŠÙ†  
- **4** â†’ Ù…Ø±Ø© ÙˆØ§Ø­Ø¯Ø©  

### Ø§Ù„Ù†ØªÙŠØ¬Ø©:
- **Ø£ÙƒØªØ± ØªÙƒØ±Ø§Ø± = 2 Ù…Ø±Ø§Øª**
- **Ø¥Ø°Ù† Ø§Ù„Ù…Ù†ÙˆØ§Ù„ = 2 Ùˆ 3**

### ğŸ”‘ Ø§Ù„Ø³Ø·Ø± Ø§Ù„Ù…Ù‡Ù…

```python
frequency[num] = frequency.get(num, 0) + 1
 ```
 ğŸ“– ØªÙØ³ÙŠØ± Ø§Ù„Ø³Ø·Ø± Ø¨Ø§Ù„ÙƒÙ„Ø§Ù…:

Ù„Ùˆ Ø§Ù„Ø±Ù‚Ù… Ù…ÙˆØ¬ÙˆØ¯ Ù‚Ø¨Ù„ ÙƒØ¯Ù‡ â†’ Ø²ÙˆÙ‘Ø¯  Ø¹Ø¯Ø¯Ù‡ 1

Ù„Ùˆ Ø§Ù„Ø±Ù‚Ù… Ù…Ø´ Ù…ÙˆØ¬ÙˆØ¯ â†’ Ø§Ø¹ØªØ¨Ø±Ù‡ 0 ÙˆØ®Ù„ÙŠÙ‡ 1

------
**Ø£ÙˆÙ„ Ø±Ù‚Ù… = 1**
frequency = {1: 1}

**Ø¨Ø¹Ø¯ÙŠÙ† 2 **
frequency = {1: 1, 2: 1}

** 2 ØªØ§Ù†ÙŠ **
frequency = {1: 1, 2: 2}

** Ø¨Ø¹Ø¯ÙŠÙ† 3**
frequency = {1: 1, 2: 2, 3: 1}

** 3 ØªØ§Ù†ÙŠ**
frequency = {1: 1, 2: 2, 3: 2}


** Ø¨Ø¹Ø¯ÙŠÙ† 4**
frequency = {1: 1, 2: 2, 3: 2, 4: 1}

In [42]:
def calculate_mode(numbers):
  """ Function to calculate the mode of a list of numbers. """
  if not numbers:
    return None
  frequency = {}
  for num in numbers: # [1, 2, 2, 3, 3, 4]
    frequency[num] = frequency.get(num, 0) + 1  # check value if found increase by 1 , if not found  put 1
  max_freq = max(frequency.values())
  modes = [num for num, freq in frequency.items() if freq == max_freq]
  return modes if len(modes) > 1 else modes[0]

calculate_mode([1, 2, 2, 3, 3, 4])

[2, 3]

In [43]:
def calculate_power(base, exponent):
  """ Function to calculate the power of a number. """
  return base ** exponent

calculate_power(2, 3)

8

In [44]:
def calculate_square_root(number):
  """ Function to calculate the square root of a number. """
  if number < 0:
    raise ValueError("Cannot calculate square root of a negative number")
  return number ** 0.5

calculate_square_root(4)

2.0

In [45]:

try:
  result = calculate_square_root(-4)  # Raises ValueError
except ValueError as e:
  print("Error : ", e)
# output > Error :  Cannot calculate teh square root of a negative  number

Error :  Cannot calculate square root of a negative number

## Ù…Ø§ Ù‡Ùˆ GCD ØŸ

**GCD** Ø§Ø®ØªØµØ§Ø± Ù„Ù€:

ğŸ‘‰ **Greatest Common Divisor**  
ÙŠØ¹Ù†ÙŠ Ø¨Ø§Ù„Ø¹Ø±Ø¨ÙŠ:

ğŸ”¹ **Ø§Ù„Ù‚Ø§Ø³Ù… Ø§Ù„Ù…Ø´ØªØ±Ùƒ Ø§Ù„Ø£ÙƒØ¨Ø±**

---

## ÙŠØ¹Ù†ÙŠ Ø¥ÙŠÙ‡ Ù‚Ø§Ø³Ù…ØŸ
Ø§Ù„Ù‚Ø§Ø³Ù… Ù‡Ùˆ Ø±Ù‚Ù…:
> ÙŠÙ‚Ø³Ù… Ø¹Ø¯Ø¯ Ù…Ù† ØºÙŠØ± Ø¨Ø§Ù‚ÙŠ

**Ù…Ø«Ø§Ù„:**
- 6 Ã· 3 = 2 âœ…  
- 6 Ã· 4 = 1.5 âŒ

---

## ÙŠØ¹Ù†ÙŠ Ø¥ÙŠÙ‡ Ù…Ø´ØªØ±ÙƒØŸ
ÙŠØ¹Ù†ÙŠ:
> Ø±Ù‚Ù… ÙŠÙ‚Ø³Ù… Ø£ÙƒØªØ± Ù…Ù† Ø¹Ø¯Ø¯

---

## ÙŠØ¹Ù†ÙŠ Ø¥ÙŠÙ‡ Ø£ÙƒØ¨Ø±ØŸ
ÙŠØ¹Ù†ÙŠ:
> Ø£ÙƒØ¨Ø± Ø±Ù‚Ù… ÙŠØ­Ù‚Ù‚ Ø§Ù„Ø´Ø±Ø·ÙŠÙ† Ø§Ù„Ù„ÙŠ ÙÙˆÙ‚

In [46]:
def calculate_gcd(a, b):
  """ Function to calculate the greates common divisor (GCD) of two numbers"""
  while b:  # while b != 0
    a, b = b, a % b
  return a

calculate_gcd(12, 18) # Output: 6 (GCD 48 and 18)

6

a = 12
b = 18
--
a, b = 18, 12 % 18

--
a = 18
b = 12
--
a, b = 12, 18 % 12

--
a = 12
b = 6

--
a, b = 6, 12 % 6

--
a = 6
b = 0
--
Ù†Ø®Ø±Ø¬ Ù…Ù† Ø§Ù„Ø­Ù„Ù‚Ø©

while b:
---

return a

ğŸ“Œ Ù„ÙŠÙ‡ Ø¨Ù†Ø±Ø¬Ø¹ aØŸ
Ù„Ø£Ù† Ø¹Ù†Ø¯ Ø§Ù„Ù†Ù‚Ø·Ø© Ø¯ÙŠ:

b = 0

a Ù‡Ùˆ Ø§Ù„Ù‚Ø§Ø³Ù… Ø§Ù„Ù…Ø´ØªØ±Ùƒ Ø§Ù„Ø£ÙƒØ¨Ø±

----------

## Ø£ÙˆÙ„Ù‹Ø§: ÙŠØ¹Ù†ÙŠ Ø¥ÙŠÙ‡ LCMØŸ

**LCM** Ø§Ø®ØªØµØ§Ø± Ù„Ù€:

ğŸ‘‰ **Least Common Multiple**  
ÙŠØ¹Ù†ÙŠ Ø¨Ø§Ù„Ø¹Ø±Ø¨ÙŠ:

ğŸ”¹ **Ø§Ù„Ù…Ø¶Ø§Ø¹Ù Ø§Ù„Ù…Ø´ØªØ±Ùƒ Ø§Ù„Ø£ØµØºØ±**

---

## ÙŠØ¹Ù†ÙŠ:
Ø£ØµØºØ± Ø±Ù‚Ù… ÙŠÙ†ÙØ¹ ÙŠØªÙ‚Ø³Ù… Ø¹Ù„Ù‰ Ø§Ù„Ø¹Ø¯Ø¯ÙŠÙ† Ù…Ø¹Ù‹Ø§

---

## Ù…Ø«Ø§Ù„:

**Ù…Ø¶Ø§Ø¹ÙØ§Øª 4**  
4, 8, 12, 16, ...

**Ù…Ø¶Ø§Ø¹ÙØ§Øª 6**  
6, 12, 18, ...

âœ” **Ø£ØµØºØ± Ø±Ù‚Ù… Ù…Ø´ØªØ±Ùƒ = 12**

In [47]:
def calculate_lcm(a, b):
  """ Function to calculate the least common mutilple (LCM) of two number """
  #ÙÙŠ Ù‚Ø§Ø¹Ø¯Ø© Ø±ÙŠØ§Ø¶ÙŠØ© Ù…Ù‡Ù…Ø© Ø¬Ø¯Ù‹Ø§:
# LCM(a, b) Ã— GCD(a, b) = |a Ã— b|

  return abs(a * b)  // calculate_gcd(a, b)

calculate_lcm(4,6)  # Output 12 (LCM of 4 and 6 )

12

In [48]:
def is_palindrome(num):
    """Function to check if a number or string is  palindrome.""" # 121 - 121 , ana, - ana

    # Convert number to string
    s = str(num)

    # Compare string with its reverse
    return s == s[::-1]

# Example usage:
print(is_palindrome(121))   # True
print(is_palindrome("ana"))   # True
print(is_palindrome(1221))  # True
print(is_palindrome("engineer"))    # False

True
True
True
False

In [49]:
def power(base_num, pow_num):
  """ Function to calculate the power of a number. """
  result = 1
  for index in range(pow_num): # 2^ 3 - 3
    result *= base_num  # 2 , 4, 8
  return result

power(2, 3) # 2*2*2

8

In [50]:
def cube(num):
  """ Function to calculate the cube of a number. """
  return num ** 3
cube(3)

27

In [51]:
def is_positive(num):
  """ Function to check if a number is positive. """
  return num > 0

is_positive(5)

True

In [52]:
def is_negative(num):
  """ Function to check if a number is positive. """
  return num < 0  # True , FALSE

is_negative(5)

False

In [53]:
def is_zero(num):
  """ Function to check if a number is zero. """
  return num == 0

is_zero(0)

True

In [54]:
def is_positive_integer(num):
  """ Function to check if a number is a positive integer. """
  return isinstance(num, int) and num > 0  # Ù‡Ù„ num Ù†ÙˆØ¹Ù‡ int

is_positive_integer(5)

True

In [55]:
def is_negative_integer(num):
  """ Function to check if a number is a negative integer. """
  return isinstance(num, int) and num < 0

is_negative_integer(5)

False

In [56]:
def is_integer(num):
  """ Function to check if a number is an integer. """
  return isinstance(num , int)

is_integer(5)

True

In [57]:
def is_float(num):
  """ Function to check if a number is a float. """
  return isinstance(num, float)

is_float(3.5)

True

In [58]:
def is_string(s):
  """ Function to check if a value is a string. """
  return isinstance(s, str)

is_string("hello")

True

In [59]:
def is_list(lst):
  """ Function to check if a value is a list. """
  return isinstance(lst, list)

is_list([1, 2, 3])

True

In [60]:
def is_tuple(tup):
  """ Function to check if a value is a tuple. """
  return isinstance(tup, tuple)

is_tuple((1, 2, 3, 4))

True

In [61]:
def is_dict(d):
  """ Function to check if a value is a dictionary. """
  return isinstance(d, dict)

is_dict({"key": "value"})

True

In [62]:
a = [1, 2, 3]
b = a       # b Ø¨ÙŠØ´ÙŠØ± Ù„Ù†ÙØ³ Ø§Ù„ÙƒØ§Ø¦Ù† Ø²ÙŠ a
c = [1, 2, 3]  # c ÙƒØ§Ø¦Ù† Ø¬Ø¯ÙŠØ¯ Ø¨Ù†ÙØ³ Ø§Ù„Ù‚ÙŠÙ…

print(a is b)  # True â†’ Ù†ÙØ³ Ø§Ù„ÙƒØ§Ø¦Ù†
print(a is c)  # False â†’ Ù‚ÙŠÙ… Ù…ØªØ´Ø§Ø¨Ù‡Ø© Ù„ÙƒÙ† ÙƒØ§Ø¦Ù† Ø¬Ø¯ÙŠØ¯

True
False

In [63]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)  # True â†’ Ø§Ù„Ù‚ÙŠÙ… Ù…ØªØ³Ø§ÙˆÙŠØ©
print(x is y)  # False â†’ ÙƒØ§Ø¦Ù† Ù…Ø®ØªÙ„Ù

True
False