# Escape Sequence character

In [ ]:
print("playing")

playing

In [ ]:
print("pla\bying")   # \b  - > remove the character before it

playing

In [ ]:
print("play\ning")  # print a new line after the charcater

play
ing

In [ ]:
print("plac\te")  # \t ------  make spaces

plac	e

In [ ]:
print("hello \
programming\
 is easy")

hello programming is easy

In [ ]:
print("drawing \"test")

drawing "test

# String

In [ ]:
string1 = "string1 "
pr1 = "stsr"
print(string1)
print(pr1)

string1
stsr

In [ ]:
text = "dog"
print(text[0])

d

In [ ]:
print(text[1])

o

In [ ]:
print(text[2])

g

In [ ]:
print(text[0], text[1], text[2])

d o g

In [ ]:
# learn indexing
string = "programming with python is easy"
print("string[0] : ",string[0])   #p
print("string[1] : ", string[1])   # r
print("llast index : ", string[-1])  # y
print("string[-2] : ", string[-2])   # s
print("string[-3] : ", string[-3])   # a
print("string from index 0 to 12 to print 0-11 : ", string[0:2])
print("until a specific index :   ", string[:14])
print("from a specific index : ", string[14:])
print("total string : ", string[::])

string[0] :  p
string[1] :  r
llast index :  y
string[-2] :  s
string[-3] :  a
string from index 0 to 12 to print 0-11 :  pr
until a specific index :    programming wi
from a specific index :  th python is easy
total string :  programming with python is easy

In [ ]:
print("hello " * 5)

hello hello hello hello hello

In [ ]:
number = 4
print(" this is a number : " + str(number))

 this is a number : 4

In [ ]:
random_string = "        this is an important string        "
lstrip = random_string.lstrip()
print(random_string)
print("this this is a left strip string : ",lstrip )
rstrip = random_string.rstrip()
print("rstrip : ", rstrip)
strip = random_string.strip()
print("strip : ", strip)

        this is an important string
this this is a left strip string :  this is an important string
rstrip :          this is an important string
strip :  this is an important string

In [ ]:
# convert list to a string

list = ["python", "java", "c", "c++"]
string_list  = "".join(list)
print(string_list)


list1 = ["python", "java", "c", "c++", "python", "python"]
print(list1.count("python"))

pythonjavacc++
3

In [ ]:
string2 = "engineering Society"
print(string2.find("Society"))

12

In [ ]:
string3 = "engineers can do anything"
print(string3.replace("do", "create"))

engineers can create anything

In [ ]:
string = "this is a very important string"
print("Length : ", len(string))

Length :  31

# Input

In [ ]:
input()

3

'3'

In [ ]:
num1 = input("Enter the first number : ")
num2 = input("Enter the second number : ")
result =  num1 + num2
print(result)

Enter the first number : 1
Enter the second number : 2
12

In [ ]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))
result =  num1 + num2
print(result)

Enter the first number : 1
Enter the second number : 2
3

In [ ]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))
result =  num1 + num2
print(result)

Enter the first number : 2
Enter the second number : 4
6

In [ ]:
num1 = float(input("Enter the first number : "))
num2 = float(input("Enter the second number : "))
result =  num1 + num2
print(result)

Enter the first number : 1
Enter the second number : 2
3.0

# eval

In [ ]:
num1 = eval(input("Enter the first number : "))
num2 = eval(input("Enter the second number : "))
result =  num1 + num2
print(result)

Enter the first number : [1,2,3]
Enter the second number : [4, 5, 6]
[1, 2, 3, 4, 5, 6]

# project 1 :
personal greeting

In [ ]:
name = input("Enter your name : ")
age = input("Enter your   age :  ")
print("hello " + name + " and your age is " + age)

Enter your name : ibrahim
Enter your   age :  4
hello ibrahim and your age is 4

# project 2:
simple calculator

In [ ]:
num1 = int(input("Enter the first number please : "))
num2 = int(input("Enter the second number plesae : "))

print("addition : ", num1 + num2)
print("subtraction : ", num1 - num2 )
print("multiplication : ", num1 * num2 )

Enter the first number please : 4
Enter the second number plesae : 2
addition :  6
subtraction :  2
multiplication :  8

# Simple Currency Converter

In [ ]:
print("-----------simple currencey converter -----------")
currency_pound = float(input(("please enter a number to convert to $ : ")))
currency_doller = currency_pound / 50
print("The Currency in doller  = {} $ ".format(currency_doller))

-----------simple currencey converter -----------
please enter a number to convert to $ : 50
The Currency in doller  = 1.0 $

# Built in functions in python

In [ ]:
text1 = "YOU NEED TO LEARN PYTHON"
print(text1.lower())
print(text1.isupper())
print(text1.islower())
print(text1.lower().islower())

you need to learn python
True
False
True

In [ ]:
text2 = "you need to learn python"
print(text2.isupper())
print(text2.islower())
print(text2.upper().isupper())

False
True
True

In [ ]:
text3 = "dog"
print(text3.index("o"))

1

In [ ]:
print("round (3.2) = ", round(3.7))

round (3.2) =  4

# Built-in Libraries in python

### Math

In [ ]:
from math import *
print(ceil(2.4))    # 3
print(sqrt(9))   # 3
print(sin(pi / 2))

3
3.0
1.0

In [ ]:
import math
print(math.sqrt(16))  # 4
print("ceil (4.4) : ", math.ceil(4.4))   # 5
print("floor(3.8) : ", math.floor(3.8))   #2
print("fabs (-4.3) : ", fabs(-4.3))  # 4.3
print("factorial (3) : ", math.factorial(3))  # 3*2*1
print("fmod (20, 4) : ", math.fmod(20 ,4))  # 20 % 4 = 0
print("trunc(4.2) : ", math.trunc(4.2))
print(" pow(2,2) : ", math.pow(2,2))
print("sqrt(9) : ", math.sqrt(9))
print("pi : ", math.pi)
print("e : ", math.e)
print("log(1000) : ", math.log(1000))
print("log10(1000) : ", math.log10(1000))
print("degrees(1.57) : ", math.degrees(1.57))
print("radians(90) : ", math.radians(90))

4.0
ceil (4.4) :  5
floor(3.8) :  3
fabs (-4.3) :  4.3
factorial (3) :  6
fmod (20, 4) :  0.0
trunc(4.2) :  4
 pow(2,2) :  4.0
sqrt(9) :  3.0
pi :  3.141592653589793
e :  2.718281828459045
log(1000) :  6.907755278982137
log10(1000) :  3.0
degrees(1.57) :  89.95437383553924
radians(90) :  1.5707963267948966

In [ ]:
from math import pow
print(pow(2,3))

8.0

In [ ]:
from math import sqrt, ceil
print(sqrt(25))
print(ceil(3.2))

5.0
4

# Random

In [ ]:
import random
rand_number = random.randint(1, 10)
print("THe random number is : ", rand_number)

THe random number is :  3

In [ ]:
import random  as rd
rand_number = rd.randint(1, 10)
print("THe random number is : ", rand_number)

THe random number is :  1

In [ ]:
print(0.1 + 0.1 + 0.1 - 0.3)
from decimal import Decimal as D
sum = D(0)
sum += D("0.1")
sum += D("0.1")
sum += D("0.1")
sum -= D("0.3")

print(" sum = : " , sum)

5.551115123125783e-17
 sum = :  0.0

## Casting

In [ ]:
num1 =  input("Enter the first number : ")
num2 =  input("Enter the second number : ")
resutl = float(num1) + float(num2)
print("the result is rounded to 2 decimal = {:.4f} ".format(resutl))  #2.34543434

Enter the first number : 435.34253463
Enter the second number : 343.453636
the result is rounded to 2 decimal = 778.7962

# ğŸ“ HomeWork 1:
Ask the user to input **two values** and store them in variables `num1` and `num2`, then print the **sum â•**, **subtraction â–**, and **multiplication âœ–ï¸**.

# ğŸ“ HomeWork 2:
Ask the user to input **miles ğŸ›£ï¸** and assign it to the `miles` variable.  
Then perform the calculation by multiplying `1.60934 Ã— miles` and store it in a `kilometer ğŸŒ` variable.  
Finally, print both results using a print statement to show **miles ğŸ›£ï¸** and **kilometers ğŸŒ**.

# ASCII Table

In [ ]:
print("A = ", ord("A"))
print("65 = ", chr(65))

A =  65
65 =  A

#  Control Flow

### if

In [ ]:
temperature = 24
if temperature == 23:
  print("The Temperature  == 23")

if temperature != 23:
  print("The temperature != 23")

if temperature != 3:
  print("the tempareta != 3")

if temperature != 5:
  print("The temperature != 5")

if temperature != 6 :
  print("THe temperature != 6")

if False:
  print("this is will never be printed")


is_hungry = True
if is_hungry:
  print("go to eat")

if is_hungry == True:
  print("go to eat aslo")

if is_hungry == False:
  print("you willot not go ot eat")

The temperature != 23
the tempareta != 3
The temperature != 5
THe temperature != 6
go to eat
go to eat aslo

# if , else

In [ ]:
is_hungry = False

if is_+"Dnt go to eat")

Dnt go to eat

In [ ]:
is_hungry = True
wants_to_eat = True

if is_hungry and wants_to_eat:
  print("go to eat")

else:
  print("dont go to eat")

go to eat

In [ ]:
my_value = None

if my_value is None:
  print("nO Value assigned ")
else:
  print("vlaue exist")

nO Value assigned

### if , elif , else

In [ ]:
temperature = 12
if temperature  == 12:
  print("Temperaterue == 12")
elif temperature == 15:
  print("Temperatuer == 15")
elif temperature != 16:
  print("Temperature != 16")
elif temperature != 3:
  print("Temperatuer ! = 3")
else:
  print("no print")

Temperaterue == 12

# Project calculatore usign if , else, elif

In [ ]:
num1, operator, num2 = input("Enter number1, operatore, number 2 : ").split()
num1 = int(num1)
num2 = int(num2)

if operator == "+":
  print("{} + {} = {}".format(num1, num2, num1+ num2))
elif operator == '-':
  print("{} - {} = {}".format(num1, num2, num1   - num2))
elif operator == "*":
  print("{} * {} = {}".format(num1, num2, num1*num2))
else:
  print("Please enter these operatores only (+, -, *)")

Enter number1, operatore, number 2 : 5 / 5
Please enter these operatores only (+, -, *)

# Make a program to print that output in the following range of ages
- 1-18 -> The age is between 1-18
- 21, 50 -> THe entered age is 21 or 50
- !< 65 -> the age is not < 65

In [ ]:
age = eval(input("Enter your age : "))
if (age >= 1) and (age<= 18):
  print("The age is betwwee 1-18")
elif (age == 21) or (age == 51):
  print("The entered age is 21, 50 ")
elif not(age < 65):
  print("The enterd age not < 65")
else:
  print("The entereg age is not in the range ")

Enter your age : 200
The enterd age not < 65

# For loop

In [ ]:
string = "Engineer"
for char in string:
  print(char, end="")
print()
for iterator in range(0, 10, 2 ):
  print(iterator, end="")

Engineer
02468

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print(i)

1
2
3
4
5

In [ ]:
for index in [1,2, 4,6, 5]:
  print(index)

1
2
4
6
5

In [ ]:
for iterator in [4, 6, 8]:
  print(iterator)

4
6
8

In [ ]:
for i in range(2, 10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
# print even numbers
for i in range(0, 10):
  if i % 2 == 0:
    print(i)

0
2
4
6
8

In [ ]:
# print odd numbers
for i in range(0, 10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
for letter in "engineering society":
  if letter == "g" :
    continue
  print(letter, end="")

enineerin society

In [ ]:
courses = ["programmign", "dataScience", "python", "java"]
print(len(courses))

4

In [ ]:
for course in courses:
  print(course)

programmign
dataScience
python
java

In [ ]:
for index, course in enumerate(courses):
  print(index, course)

0 programmign
1 dataScience
2 python
3 java

In [ ]:
for course in courses:
  if course == "python":
    print("the course contain python course")
  else:
    continue

the course contain python course

In [ ]:
courses = ["programmign", "dataScience", "python", "java"]

for course in courses:
  if course == "dataScience":
    print(course, " is a datatScience course")
    break
  else:
    print(course, "Not Found")

programmign Not Found
dataScience  is a datatScience course

In [ ]:
for x in range(3,10, 2):
  print(x)

3
5
7
9

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for l in range(3, 10):
  if l == 5:
    break
  print(l)

3
4

# While loop

In [ ]:
# this code will crash the noteobook
i =1
while (i < 6):
  print(i)

In [ ]:
i = 1
while (i < 6):
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while (i < 20):
  if (i%2 == 0):
    i += 1
    continue
  if ( i == 15):
    break

  print("Odd numbers : ", i)
  i += 1

Odd numbers :  1
Odd numbers :  3
Odd numbers :  5
Odd numbers :  7
Odd numbers :  9
Odd numbers :  11
Odd numbers :  13

In [ ]:
# this also will go into while loop
i = 1
while True:
  print(i)
  i += 1

# Project Build a Pyramid

In [ ]:
    #
   ###
  #####
 #######
#########
    #
# tall : 5
# 4 spaces : 1 hash
# 3 spaces : 3 hash
# 2 spaces : 5 hash
# 1 space  : 7 hash
# 0 spaces: 9 hash

In [ ]:
tree_height = int(input("Enter the height of the pyramid: "))
spaces = tree_height - 1
hash = 1
original_spaces = tree_height - 1

while tree_height != 0:
   for i in range(spaces):
    print(" ", end="")

   for i in range(hash):
    print("#", end="")

   print()
   spaces -= 1
   hash += 2
   tree_height -= 1

for i in range(original_spaces):
  print(" ", end="")
print("#")

Enter the height of the pyramid: 7
      #
     ###
    #####
   #######
  #########
 ###########
#############
      #

### Break

In [ ]:
i = 1
while i <= 10:
  print(i)
  if (i == 6):
    break
  i += 1

1
2
3
4
5
6

In [ ]:
i = 1

while i <=5:
  print(i)
  i += 1

else:
  print("the loop ended normally ")

1
2
3
4
5
the loop ended normally

# continue

In [ ]:
i = 1
while i < 10:
  i += 1
  if i % 2 == 0:
   continue
  print(i)

3
5
7
9

# Data Structures

- list
- Tuple
- Set
- Dictionary

### list

ğŸŸ¦ **1) List â€” Ù„ÙŠØ³Øª (Ù‚Ø§Ø¦Ù…Ø©)**

- ğŸ”¹ Ù‚Ø§Ø¨Ù„Ø© Ù„Ù„ØªØ¹Ø¯ÙŠÙ„ *(Mutable)*
- ğŸ”¹ Ù…Ø±ØªÙ‘Ø¨Ø© *(Ordered)*
- ğŸ”¹ ØªØ³Ù…Ø­ Ø¨Ø§Ù„ØªÙƒØ±Ø§Ø± *(Duplicates allowed)*
- ğŸ”¹ ØªØ³ØªØ®Ø¯Ù… Ø§Ù„Ù€ **index** Ù„Ù„ÙˆØµÙˆÙ„ Ù„Ù„Ø¹Ù†Ø§ØµØ±

In [ ]:
# mutable
list1 = [1, 2, 3, 4]
list1[0] = 5
print(list1)

[5, 2, 3, 4]

In [ ]:
print(list1)

[5, 2, 3, 4]

In [ ]:
list2 = [1,1, 1,1 ,5 ]
print(list2)

[1, 1, 1, 1, 5]

In [ ]:
list3 = [1, 2, "python ", True , False, [ 1, 2, 4]]
# indexing
print(list3[5])
print(list3[-1])
# Slicing
print(list3[0:3])

[1, 2, 4]
[1, 2, 4]
[1, 2, 'python ']

In [ ]:
list1 = ["java", "python", "html"]
list2 = ["css", "c", "c++"]
list1.extend(list2)
print(list1)
list1.append("javascript")
print(list1)
list1.append(1)
print(list1)
list1.append([1, 2, 4])
print(list1)
list1.insert(0, "amira")
print(list1)
list1.remove("amira")
print(list1)
list1.pop()
print("The list 1 with pop :  ",list1)
list1.clear()
print("The list 1 with clear :  ", list1)
print(list2.index("c"))

['java', 'python', 'html', 'css', 'c', 'c++']
['java', 'python', 'html', 'css', 'c', 'c++', 'javascript']
['java', 'python', 'html', 'css', 'c', 'c++', 'javascript', 1]
['java', 'python', 'html', 'css', 'c', 'c++', 'javascript', 1, [1, 2, 4]]
['amira', 'java', 'python', 'html', 'css', 'c', 'c++', 'javascript', 1, [1, 2, 4]]
['java', 'python', 'html', 'css', 'c', 'c++', 'javascript', 1, [1, 2, 4]]
The list 1 with pop :   ['java', 'python', 'html', 'css', 'c', 'c++', 'javascript', 1]
The list 1 with clear :   []
1

In [ ]:
list4 = [1, 1, 1, 1, 1 ,4, 5 , "name", "engineer", "name"]
list4.count(1)
list4.count("name")

list5 = list4.copy()
print(list5)

[1, 1, 1, 1, 1, 4, 5, 'name', 'engineer', 'name']

In [ ]:
list6 = [10 , 9 , 8 , 1, 3, 5,  7]
list6.sort()
print(list6)

[1, 3, 5, 7, 8, 9, 10]

In [ ]:
list7 = ["mohamed", "aslam", "bag"]
list7.sort()
print(list7)

['aslam', 'bag', 'mohamed']

In [ ]:
numList = []
for i in range(6):
  numList.append(random.randrange(1, 10))

print("The list : ", numList)

The list :  [4, 3, 5, 3, 1, 1]

In [ ]:
numList.sort()
print("Sorted List : ", numList)

Sorted List :  [1, 1, 3, 3, 4, 5]

In [ ]:
numList.reverse()
print(numList)

[5, 4, 3, 3, 1, 1]

In [ ]:
numList.pop(0)

5

In [ ]:
print(numList)

[4, 3, 3, 1, 1]

In [ ]:
for i in range(5): # 0, 1, 2, 3, 4
  print(i *2)

0
2
4
6
8

In [ ]:
list2 = [ ]
for i in range(5): # 0, 1, 2, 3, 4
  i = i *2
  list2.append(i)
print(list2)

[0, 2, 4, 6, 8]

In [ ]:
list1 = [i*2 for i in range(5)]
print(list1)

[0, 2, 4, 6, 8]

In [ ]:
import  math
numList2 = [1, 2, 3, 4 , 5]

for i in numList2:
  print(math.pow(i, 2), math.pow(i, 3) )

list3 = [(math.pow(i, 2), math.pow(i, 3)) for i in numList2]
print("The list 3 : ", list3)

1.0 1.0
4.0 8.0
9.0 27.0
16.0 64.0
25.0 125.0
The list 3 :  [(1.0, 1.0), (4.0, 8.0), (9.0, 27.0), (16.0, 64.0), (25.0, 125.0)]

# Dictionary

ğŸŸ¨ **4) Dictionary â€” Ù‚Ø§Ù…ÙˆØ³ (Dictionary)**

- ğŸ”¹ ÙŠØ®Ø²Ù† **Key : Value**
- ğŸ”¹ Ù‚Ø§Ø¨Ù„ Ù„Ù„ØªØ¹Ø¯ÙŠÙ„
- ğŸ”¹ Ù„Ø§ ÙŠØ³Ù…Ø­ Ø¨ØªÙƒØ±Ø§Ø± Ø§Ù„Ù€ **keys**
- ğŸ”¹ Ù…Ø±ØªÙ‘Ø¨ Ù…Ù†Ø° Ø¥ØµØ¯Ø§Ø± *Python 3.7*
- ğŸ”¹mutable

In [ ]:
# Ù…Ø«Ø§Ù„ Ø¹Ù„Ù‰ Dictionary
student = {
    "name": "Ali",
    "age": 21,
    "grade": "A"
}

print(student)

{'name': 'Ali', 'age': 21, 'grade': 'A'}

In [ ]:
print(student["name"])   # Ali
print(student["age"])    # 21
student["age"] = 22
print(student["age"])   # 22
student["major"] = "Computer Science"
print(student)

Ali
21
22
{'name': 'Ali', 'age': 22, 'grade': 'A', 'major': 'Computer Science'}

In [ ]:
student.pop("grade")
print(student)

{'name': 'Ali', 'age': 22, 'major': 'Computer Science'}

In [ ]:
for key in student:
    print(key, ":", student[key])

name : Ali
age : 22
major : Computer Science

In [ ]:
convert_month = {
    "jan" : "January",
    "feb" : "febraury",
    "mar" : "March"
}
print(convert_month["jan"])  # January
print(convert_month.get("jan"))  # January
print(convert_month.get("amira", "the value doesn't exist") )

January
January
the value doesn't exist

# Tuple

ğŸŸª **Tuple â€” ØªÙŠÙˆØ¨ÙÙ„**

**ØªØ¹Ø±ÙŠÙ:**  
Tuple Ù‡Ùˆ Ù†ÙˆØ¹ Ø¨ÙŠØ§Ù†Ø§Øª ÙÙŠ Ø¨Ø§ÙŠØ«ÙˆÙ† ÙŠØ´Ø¨Ù‡ Ø§Ù„Ù€ List Ù„ÙƒÙ† Ø§Ù„ÙØ±Ù‚ Ø§Ù„Ø£Ø³Ø§Ø³ÙŠ Ø£Ù†Ù‡ **ØºÙŠØ± Ù‚Ø§Ø¨Ù„ Ù„Ù„ØªØ¹Ø¯ÙŠÙ„ (Immutable)**.

**Ø®ØµØ§Ø¦Øµ Ø§Ù„Ù€ Tuple:**

- ğŸ”¹ **ØºÙŠØ± Ù‚Ø§Ø¨Ù„Ø© Ù„Ù„ØªØ¹Ø¯ÙŠÙ„ (Immutable)** â†’ Ù„Ø§ ÙŠÙ…ÙƒÙ†Ùƒ ØªØºÙŠÙŠØ± Ø§Ù„Ø¹Ù†Ø§ØµØ± Ø¨Ø¹Ø¯ Ø¥Ù†Ø´Ø§Ø¦Ù‡Ø§.
- ğŸ”¹ **Ù…Ø±ØªÙ‘Ø¨Ø© (Ordered)** â†’ ÙŠØ­ØªÙØ¸ Ø¨Ø§Ù„ØªØ±ØªÙŠØ¨ Ø§Ù„Ø°ÙŠ Ø£Ø¯Ø®Ù„Øª Ø¨Ù‡ Ø§Ù„Ø¹Ù†Ø§ØµØ±.
- ğŸ”¹ **ØªØ³Ù…Ø­ Ø¨Ø§Ù„ØªÙƒØ±Ø§Ø± (Duplicates allowed)** â†’ ÙŠÙ…ÙƒÙ† Ø£Ù† ØªØªÙƒØ±Ø± Ø§Ù„Ù‚ÙŠÙ….
- ğŸ”¹ **ÙŠÙ…ÙƒÙ† Ø§Ù„ÙˆØµÙˆÙ„ Ù„Ù„Ø¹Ù†Ø§ØµØ± Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… index** â†’ ÙŠØ¨Ø¯Ø£ Ø§Ù„Ø¹Ø¯ Ù…Ù† 0.
- ğŸ”¹ **Ø£Ø³Ø±Ø¹ Ù…Ù† Ø§Ù„Ù€ List** â†’ Ø¨Ø³Ø¨Ø¨ Ø§Ù„Ù€ immutability.

In [ ]:
numbers = (1, 2, 3, 4, 5)
print(numbers)
print(numbers[0])   # 1
print(numbers.count(2))   # Ø¹Ø¯Ø¯ Ù…Ø±Ø§Øª Ø¸Ù‡ÙˆØ± 2 â†’ 1
print(numbers.index(4))   # Ù…ÙˆÙ‚Ø¹ Ø§Ù„Ø¹Ù†ØµØ± 4 â†’ 3

(1, 2, 3, 4, 5)
1
1
3

In [ ]:
fruits = ("apple", "banana", "cherry")
print(fruits)
print(fruits[1])    # banana
print(fruits[-1])   # cherry â† Ø¢Ø®Ø± Ø¹Ù†ØµØ±

('apple', 'banana', 'cherry')
banana
cherry

In [ ]:
# numbers[0] = 10   # âŒ Ø³ÙŠØ­Ø¯Ø« Ø®Ø·Ø£

In [ ]:
# make a tuple with one element
single = (5,)   # Ù„Ø§Ø²Ù… ØªØ¶Ø¹ ÙØ§ØµÙ„Ø©
print(single)   # (5,)

(5,)

In [ ]:
# Concatenate two tuples
t1 = (1, 2, 3)
t2 = (4, 5)
t3 = t1 + t2
print(t3)   # (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [ ]:
# Convert a list to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)   # (1, 2, 3)

(1, 2, 3)

In [ ]:
list_of_tuples = [(1, 2), (2, 3), (5, 6)]
print(list_of_tuples[0])
print(list_of_tuples[0][0])

(1, 2)
1

| Ø§Ù„Ø®Ø§ØµÙŠØ©       | List      | Tuple       |
| ------------- | --------- | ----------- |
| Ù‚Ø§Ø¨Ù„ Ù„Ù„ØªØ¹Ø¯ÙŠÙ„  | âœ… Mutable | âŒ Immutable |
| Ù…Ø±ØªÙ‘Ø¨Ø©        | âœ… Ordered | âœ… Ordered   |
| ØªØ³Ù…Ø­ Ø¨Ø§Ù„ØªÙƒØ±Ø§Ø± | âœ… Yes     | âœ… Yes       |
| Ø§Ù„Ø£Ø¯Ø§Ø¡        | Ø£Ø¨Ø·Ø£      | Ø£Ø³Ø±Ø¹        |

# Set

ğŸŸ§ **3) Set â€” Ø³ÙØª (Ù…Ø¬Ù…ÙˆØ¹Ø©)**

- ğŸ”¹ ØºÙŠØ± Ù…Ø±ØªÙ‘Ø¨Ø© *(Unordered)*
- ğŸ”¹ Ù„Ø§ ØªØ³Ù…Ø­ Ø¨Ø§Ù„ØªÙƒØ±Ø§Ø± *(No duplicates)*
- ğŸ”¹ Ù‚Ø§Ø¨Ù„Ø© Ù„Ù„ØªØ¹Ø¯ÙŠÙ„
- ğŸ”¹ Ù…ÙÙŠØ¯Ø© Ø¬Ø¯Ù‹Ø§ ÙÙŠ Ø§Ù„Ø±ÙŠØ§Ø¶ÙŠØ§Øª *(union, intersection)*

In [ ]:
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [ ]:
s = {1, 2, 2, 3}
print(s)   # {1, 2, 3}

{1, 2, 3}

In [ ]:
s = {10, 5, 7, 3}
print(s)   # Ù…Ù…ÙƒÙ† ØªØ¸Ù‡Ø± Ø¨Ø£ÙŠ ØªØ±ØªÙŠØ¨

{10, 3, 5, 7}

In [ ]:
s = {1, 2, 3}
s.add(4)
print(s)   # {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
s = {1, 2, 3}
s.update([4, 5, 6])
print(s)   # {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [ ]:
s = {1, 2, 3}
s.remove(2)
print(s)   # {1, 3}

{1, 3}

In [ ]:
s = {1, 2, 3}
s.discard(5)   # Ù„Ø§ ÙŠØ­Ø¯Ø« Ø®Ø·Ø£
print(s)

{1, 2, 3}

In [ ]:
s = {10, 20, 30}
removed = s.pop() # ØªØ­Ø°Ù Ø¹Ù†ØµØ± Ø¹Ø´ÙˆØ§Ø¦ÙŠ (Ù„Ø£Ù† Ø§Ù„Ù€ set ØºÙŠØ± Ù…Ø±ØªÙ‘Ø¨).
print("Removed:", removed) # can remove 10 or 20 or 30
print(s)

Removed: 10
{20, 30}

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a.union(b))        # {1, 2, 3, 4, 5}
print(a | b)             # Ù†ÙØ³ Ø§Ù„Ø´ÙŠØ¡

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
print(a.intersection(b))  # {3}
print(a & b)

{3}
{3}

In [ ]:
print(a.difference(b))   # {1, 2}
print(a - b)

{1, 2}
{1, 2}

ğŸ”¹ **Ø¥ÙŠÙ‡ Ù‡ÙŠ `symmetric_difference` ØŸ**

Ù‡ÙŠ Ø¹Ù…Ù„ÙŠØ© Ø¨ØªÙ‚Ø§Ø±Ù† Ø¨ÙŠÙ† Ù…Ø¬Ù…ÙˆØ¹ØªÙŠÙ† (Sets) ÙˆØªØ±Ø¬Ø¹ **Ø§Ù„Ø¹Ù†Ø§ØµØ± Ø§Ù„Ù…Ø®ØªÙ„ÙØ© Ø¨ÙŠÙ†Ù‡Ù…Ø§ ÙÙ‚Ø·**:

- Ø§Ù„Ø¹Ù†Ø§ØµØ± Ø§Ù„Ù„ÙŠ Ù…ÙˆØ¬ÙˆØ¯Ø© ÙÙŠ **a** ÙˆÙ…Ø´ Ù…ÙˆØ¬ÙˆØ¯Ø© ÙÙŠ **b**
- ÙˆØ§Ù„Ø¹Ù†Ø§ØµØ± Ø§Ù„Ù„ÙŠ Ù…ÙˆØ¬ÙˆØ¯Ø© ÙÙŠ **b** ÙˆÙ…Ø´ Ù…ÙˆØ¬ÙˆØ¯Ø© ÙÙŠ **a**

ğŸ”¸ **Ù„ÙƒÙ† Ø¨ØªØ³ØªØ¨Ø¹Ø¯ Ø§Ù„Ø¹Ù†Ø§ØµØ± Ø§Ù„Ù…Ø´ØªØ±ÙƒØ© Ø¨ÙŠÙ†Ù‡Ù….**

In [ ]:
print(a.symmetric_difference(b))  # {1, 2, 4, 5}
print(a ^ b)

{1, 2, 4, 5}
{1, 2, 4, 5}

In [ ]:
lst = [1, 2, 2, 3, 3, 4]
s = set(lst)
print(s)   # {1, 2, 3, 4}
s.add(6)
print("S after adding : ", s)
print("cHECK 2 is in the set or not : ", 2 in s)
print("cHECK 3 is in the set or not : ", 3 in s)

{1, 2, 3, 4}
S after adding :  {1, 2, 3, 4, 6}
cHECK 2 is in the set or not :  True
cHECK 3 is in the set or not :  True

In [ ]:
name = "banana"
print(set(name))   # {'b', 'a', 'n'}

{'n', 'a', 'b'}

In [ ]:
# Checking if a set is a subset or superset
set_a = {1, 2}
set_b = {1, 2, 3, 4, 5}
print(set_a.issubset(set_b))
print(set_b.issuperset(set_a))

True
True

### âŒ Error Explanation:  
**TypeError: 'list' object is not callable**

Ù‡Ø°Ø§ Ø§Ù„Ø®Ø·Ø£ ÙŠØ¹Ù†ÙŠ Ø¥Ù†Ùƒ **Ø£Ø¹Ø¯Øª ØªØ¹Ø±ÙŠÙ Ø§Ù„Ø¯Ø§Ù„Ø© built-in Ø§Ø³Ù…Ù‡Ø§ `list`** ÙÙŠ Ø¯ÙØªØ± Jupyter Ø¨Ø¯ÙˆÙ† Ù…Ø§ ØªÙ‚ØµØ¯.

---

### âœ… Ù„Ù…Ø§Ø°Ø§ ÙŠØ­Ø¯Ø« Ø§Ù„Ø®Ø·Ø£ØŸ

Ù„Ùˆ ÙƒØªØ¨Øª Ø£ÙŠ Ø´ÙŠØ¡ Ù…Ø«Ù„:

```python
list = [1, 2, 3]

Ø£Ùˆ:

list = "hello"
ÙÙŠ Ù‡Ø°Ù‡ Ø§Ù„Ø­Ø§Ù„Ø©ØŒ Python Ø³ÙŠØ¹Ø§Ù…Ù„ list ÙƒÙ€ Ù…ØªØºÙŠØ± ÙˆÙ„ÙŠØ³ ÙƒØ¯Ø§Ù„Ø© ØªØ­ÙˆÙŠÙ„ Ø¥Ù„Ù‰ list.

ÙØ¹Ù†Ø¯Ù…Ø§ ØªÙƒØªØ¨:

list(my_set)
Ø³ÙŠØ­Ø§ÙˆÙ„ Python Ø§Ø³ØªØ¯Ø¹Ø§Ø¡ Ø§Ù„Ù…ØªØºÙŠØ± listØŒ ÙˆÙ„ÙŠØ³ Ø§Ù„Ø¯Ø§Ù„Ø© Ø§Ù„Ø£ØµÙ„ÙŠØ© â€”
ÙˆØ¨Ù…Ø§ Ø£Ù† Ø§Ù„Ù…ØªØºÙŠØ± Ù„ÙŠØ³ Ø¯Ø§Ù„Ø©ØŒ ÙŠØ¸Ù‡Ø± Ø§Ù„Ø®Ø·Ø£:


TypeError: 'list' object is not callable
âœ… ÙƒÙŠÙ Ø£Ø­Ù„ Ø§Ù„Ù…Ø´ÙƒÙ„Ø©ØŸ
Ø£Ø¹Ø¯ Ø§Ù„Ø¯Ø§Ù„Ø© Ø§Ù„Ø£ØµÙ„ÙŠØ© Ø¨Ù‡Ø°Ù‡ Ø§Ù„Ø·Ø±ÙŠÙ‚Ø©:

del list
Ø«Ù… Ø¬Ø±Ù‘Ø¨ Ø§Ù„ÙƒÙˆØ¯ Ù…Ø±Ø© Ø£Ø®Ø±Ù‰:

my_set = {1, 2, 3, 4, 5}
my_set_to_list = list(my_set)
print(my_set_to_list)

In [ ]:
del list

In [ ]:
set_a = {1, 2}
set_b = {1, 2, 3, 4, 5}
# clear a set
set_b.clear()
print("Set b after clear : ", set_b)

# Converting a set to list
my_set = {1, 2, 3, 4, 5}
my_set_to_list = list(my_set)
print(my_set_to_list)

# Converting a string to a set
string_to_set = set("amira")
print(string_to_set)

Set b after clear :  set()
<class 'frozenset'>
[1, 2, 3, 4, 5]
{'r', 'm', 'a', 'i'}

In [ ]:
# checking if a set is empty
empty_set = set()  # empty set means False , if not Empty mean True
print(empty_set)
print(len(empty_set))

if not empty_set:
  print("The set is empty")   # The set is empty
else:
  print("The set is not empty")

set()
0
The set is empty

In [ ]:
# Creating a set with a range of numbers
range_set = set(range(1, 11))  # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(range_set)

# Checking if a number is in the range set
print(5 in range_set)  # True
print(11 in range_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
True
False

ğŸ”¹ Ø¬Ø¯ÙˆÙ„ Ø§Ù„Ù…Ù‚Ø§Ø±Ù†Ø©

| Ø§Ù„Ø®Ø§ØµÙŠØ©       | Set Comprehension                     | Generator Expression + set()                        |
|---------------|--------------------------------------|----------------------------------------------------|
| Ø§Ù„Ø´ÙƒÙ„         | `{x for x in ...}`                    | `set(x for x in ...)`                              |
| Ø§Ù„ØªØ®Ø²ÙŠÙ†       | ÙŠÙˆÙ„Ù‘Ø¯ Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø¹Ù†Ø§ØµØ± ÙÙˆØ±Ù‹Ø§ ÙÙŠ Ø§Ù„Ø°Ø§ÙƒØ±Ø©   | ÙŠÙˆÙ„Ù‘Ø¯ ÙƒØ³ÙˆÙ„Ø§Ù‹ Ø«Ù… ÙŠØ­ÙˆÙ‘Ù„ Ø¥Ù„Ù‰ set Ø¹Ù†Ø¯ Ø§Ù„Ø·Ù„Ø¨           |
| Ø§Ù„Ø£Ø¯Ø§Ø¡        | Ø£Ø³Ø±Ø¹ ÙˆØ¨Ø³ÙŠØ· Ù„Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„ØµØºÙŠØ±Ø©/Ø§Ù„Ù…ØªÙˆØ³Ø·Ø© | Ø£ÙØ¶Ù„ Ù„Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ø¶Ø®Ù…Ø© (ÙŠÙˆÙØ± Ø§Ù„Ø°Ø§ÙƒØ±Ø© Ù…Ø¤Ù‚ØªÙ‹Ø§)       |
| Ø§Ù„Ø§Ø³ØªØ®Ø¯Ø§Ù… Ø§Ù„Ù…Ø¨Ø§Ø´Ø± | Ù†Ø¹Ù…ØŒ Ø§Ù„Ù†ØªÙŠØ¬Ø© set Ø¬Ø§Ù‡Ø²Ø© Ù…Ø¨Ø§Ø´Ø±Ø©      | Ù†Ø¹Ù…ØŒ Ø¨Ø¹Ø¯ Ø§Ù„ØªØ­ÙˆÙŠÙ„ Ø¥Ù„Ù‰ set                           |

In [ ]:
# Creating a set with a list comprehension
comprehension_set = {x for x in range(1, 11) if x % 2 == 0}
print(comprehension_set)  # {2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

In [ ]:
# Creating a set with a generator expression
generator_set = set(x for x in range(1, 11) if x % 2 != 0)
print(generator_set) # {1, 3, 5, 7, 9}

# Checking if a number is in the generator set
print(3 in generator_set)
print(4 in generator_set)

{1, 3, 5, 7, 9}
True
False

In [ ]:
# get all unique numbers from a set
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 7, 7, 8]
unique_numbers = set(numbers) # {1, 2, 3, 4, 5, 6, 7, 8}
print(unique_numbers)

{1, 2, 3, 4, 5, 6, 7, 8}

**`dir()`** Ù‡ÙŠ Ø¯Ø§Ù„Ø© ÙÙŠ Python ØªØ¹Ø±Ø¶ Ø¬Ù…ÙŠØ¹ Ø§Ù„Ø®ØµØ§Ø¦Øµ ÙˆØ§Ù„Ø·Ø±Ù‚ (**methods & attributes**) Ù„Ù„ÙƒØ§Ø¦Ù† (**object**) Ø§Ù„Ø°ÙŠ ØªÙ…Ø±Ø±Ù‡ Ù„Ù‡Ø§.

ÙÙŠ Ù‡Ø°Ø§ Ø§Ù„Ù…Ø«Ø§Ù„ØŒ `unique_numbers` Ù‡Ùˆ **set**.

Ø¥Ø°Ù† `dir(unique_numbers)` Ø³ÙŠØ¹Ø·ÙŠÙƒ Ù‚Ø§Ø¦Ù…Ø© Ø¨ÙƒÙ„ Ù…Ø§ ÙŠÙ…ÙƒÙ†Ùƒ Ø§Ø³ØªØ®Ø¯Ø§Ù…Ù‡ Ù…Ø¹ Ù‡Ø°Ø§ Ø§Ù„Ù€ setØŒ Ù…Ø«Ù„:

- `add()` â†’ Ù„Ø¥Ø¶Ø§ÙØ© Ø¹Ù†ØµØ± Ø¬Ø¯ÙŠØ¯
- `remove()` â†’ Ù„Ø­Ø°Ù Ø¹Ù†ØµØ±
- `clear()` â†’ Ù„ØªÙØ±ÙŠØº Ø§Ù„Ù…Ø¬Ù…ÙˆØ¹Ø©
- `copy()` â†’ Ù„Ø¹Ù…Ù„ Ù†Ø³Ø®Ø© Ù…Ù† Ø§Ù„Ù€ set
- `union()`, `intersection()`, `difference()` â†’ Ø¹Ù…Ù„ÙŠØ§Øª Ø¹Ù„Ù‰ Ø§Ù„Ù…Ø¬Ù…ÙˆØ¹Ø§Øª

ÙˆØºÙŠØ±Ù‡Ø§ Ù…Ù† Ø§Ù„Ø¯ÙˆØ§Ù„ ÙˆØ§Ù„Ø®ØµØ§Ø¦Øµ Ø§Ù„Ø®Ø§ØµØ© Ø¨Ø§Ù„Ù€ set.

ğŸ”¹ 1ï¸âƒ£ Ù…Ø§ Ù‡Ùˆ Ø§Ù„Ù€ **Attribute**ØŸ

**Attribute** Ù‡Ùˆ Ø®Ø§ØµÙŠØ© Ø£Ùˆ Ù…ØªØºÙŠØ± Ù…Ø±ØªØ¨Ø· Ø¨Ø§Ù„ÙƒØ§Ø¦Ù† (**object**).  

ÙŠÙ…Ø«Ù„ Ø­Ø§Ù„Ø© Ø£Ùˆ Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„ÙƒØ§Ø¦Ù†.  

**Ù…Ø«Ø§Ù„:**

```python
class Car:
    wheels = 4  # Ù‡Ø°Ø§ attribute Ø«Ø§Ø¨Øª Ù„Ù„ÙƒØ§Ø¦Ù†Ø§Øª

my_car = Car()
print(my_car.wheels)  # 4

2ï¸âƒ£ Ù…Ø§ Ù‡Ùˆ Ø§Ù„Ù€ **Method**ØŸ

**Method** Ù‡ÙŠ Ø¯Ø§Ù„Ø© Ù…Ø±ØªØ¨Ø·Ø© Ø¨Ø§Ù„ÙƒØ§Ø¦Ù† (**object**) ÙŠÙ…ÙƒÙ† Ø§Ø³ØªØ¯Ø¹Ø§Ø¤Ù‡Ø§ Ù„Ø£Ø¯Ø§Ø¡ ÙˆØ¸ÙŠÙØ© Ù…Ø¹ÙŠÙ†Ø© Ø¹Ù„Ù‰ Ø§Ù„ÙƒØ§Ø¦Ù† Ø£Ùˆ Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… Ø¨ÙŠØ§Ù†Ø§ØªÙ‡.  

Ø¨Ø¨Ø³Ø§Ø·Ø©ØŒ Ù‡ÙŠ "Ø¥Ø¬Ø±Ø§Ø¡" ÙŠÙ…ÙƒÙ† Ù„Ù„ÙƒØ§Ø¦Ù† ÙØ¹Ù„Ù‡.  

**Ù…Ø«Ø§Ù„:**

```python
class Car:
    def start_engine(self):
        print("Engine started!")

my_car = Car()
my_car.start_engine()  # Engine started!

ğŸ”¹ 3ï¸âƒ£ Ø§Ù„ÙØ±Ù‚ Ø¨ÙŠÙ† **Attribute** Ùˆ **Method**

| Ø§Ù„Ø®Ø§ØµÙŠØ©     | Attribute                 | Method                    |
|------------|---------------------------|---------------------------|
| Ù…Ø§ Ù‡Ùˆ       | Ø®Ø§ØµÙŠØ© Ø£Ùˆ Ø¨ÙŠØ§Ù†Ø§Øª Ù„Ù„ÙƒØ§Ø¦Ù†     | Ø¯Ø§Ù„Ø© Ù…Ø±ØªØ¨Ø·Ø© Ø¨Ø§Ù„ÙƒØ§Ø¦Ù†       |
| Ø§Ù„Ø§Ø³ØªØ®Ø¯Ø§Ù…   | Ù„ØªØ®Ø²ÙŠÙ† Ø§Ù„Ù…Ø¹Ù„ÙˆÙ…Ø§Øª Ø£Ùˆ Ø§Ù„Ø­Ø§Ù„Ø© | Ù„Ø£Ø¯Ø§Ø¡ Ø¥Ø¬Ø±Ø§Ø¡Ø§Øª Ø£Ùˆ ÙˆØ¸Ø§Ø¦Ù    |
| Ù…Ø«Ø§Ù„       | `my_car.wheels`           | `my_car.start_engine()`   |

In [ ]:
print(dir(unique_numbers))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
# doing the program again above but without using set (get unique numbers)
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 7, 7, 8]
unique_numbers = []
for number in numbers:
  if number not in unique_numbers:
    unique_numbers.append(number)
print(unique_numbers) # [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

A **set** in Python does not support list-specific methods such as:

- `append()`
- `insert()`

This is because a set is designed to store **unique elements**, and it does **not maintain order**, so inserting at a specific position does not make sense.

However, sets do have their **own methods** that you can use to modify and work with set elements.  
These include:

- `add()` â€” adds a single element  
- `update()` â€” adds multiple elements  
- `remove()` â€” removes an element (raises an error if not found)  
- `discard()` â€” removes an element (without error)  
- `pop()` â€” removes a **random** element  

### Mathematical operations:
- `union()`  
- `intersection()`  
- `difference()`  
- `symmetric_difference()`  

So while sets do not have list-like methods such as `append()` or `insert()`, they do provide their own built-in methods designed for working with **unordered unique collections**.

In [ ]:
set1 = {1, 2, 3, 4, 5}
print("Set 1 : ", set1)
set1.add(6)
print("Set1 after adding 6 : ",set1) # {1, 2, 3, 4, 5, 6}
set1.remove(3)
print("Set1 after removing 3 : ", set1) # will raise an error if the key is not found

Set 1 :  {1, 2, 3, 4, 5}
Set1 after adding 6 :  {1, 2, 3, 4, 5, 6}
Set1 after removing 3 :  {1, 2, 4, 5, 6}

In [ ]:
set1.discard(4) # doesn't raise an error if the element doesn't found
print("Discarding 4 : ", set1)

Discarding 4 :  {1, 2, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.reverse() # Raises AttributeError because sets do not support revers

In [ ]:
# to reverse a set you shout convert it to list then reverse it then convert it back to a set
set1 = {1, 2, 3, 4, 5}

# Convert set to list
list1 = list(set1)

# Reverse the list
list1.reverse()  #  works because lists are ordered

# If you want a set again (order is not guaranteed)
reversed_set = set(list1)

print("Reversed list:", list1)
print("Reversed set:", reversed_set)  # order may differ

Reversed list: [5, 4, 3, 2, 1]
Reversed set: {1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3, 4, 5}
print(set1)
set1.append(7) # Raised AttributeErro because sets do not have append

In [ ]:
# to add an element , use the add method
set1 = {1, 2, 3, 4, 5}
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 7}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set1.remove(8) # Raises KeyError becasue 8  is not in the set

In [ ]:
set1 = {1, 2, 3, 4, 5}
# to avoid error you can use the discard method
set1.discard(8) # doens't raise an error if the element doesn't found
print(set1)

{1, 2, 3, 4, 5}